@page
@model ContosoUniversity.Pages.HelloModel
@{
    ViewData["Title"] = "hello";
}

<header class="jumbotron">
    <section class="jumbotron"></section>

    <h2>ASP.NET Core Razor Pages - Hello</h2>
    <h3>Create by: FRDA</h3>
    <p>
        This page will prompt the user to enter their name and click on the button to get a personalised hello message
    </p>
</header>

<section>
    <form method="post">
        <label>Enter your name:</label>
        <input id="Name" type="text" asp-for="Name" placeholder="Your name" required />
        <input type="submit" />


        <p>
            @if (this.Model.Name != null)

            {

                <span>Hello </span>@this.Model.Name
                <span>, how are you? </span>

            }


        </p>


    </form>

</section>


